html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

body {
  margin: 0px;
  padding: 0px !important;
  background-color: #000;
}
 

/* -----------------------------Adventure Dairy css start from here----------------------  */
.dairy-home-box {
  height: 1100px;
  min-height: 100vh;
  width: 100%;
 

  background-image: url("../../components/images/dairyhomebackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

}

.title-box {
  
  position: absolute;
  top: 130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.get-started-box {
  
  /* width: 14%; */
  width:220px;
   height:74px;
  background-image: url("../../components/images/btn-back.png");
  background-size: 100% 100%;
  
  background-repeat: no-repeat;
  cursor: pointer;
}
.get-started-text {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
  font-family: "Daily Spark";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.65px;
  background: linear-gradient(0deg, #c5c4c7 0%, #fefefe 70.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.bottom-overlay{
  position: absolute;
  width: 100%;
 
  top: 610px; 
}
.dairyhilground {
  position: absolute;
 
  top: 750px;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.bottom-overlay2{
top: 810px;

}



/* .dairyhilground2{
  position: absolute;
  top: 0;
  width: 100%;
 
  overflow: hidden;
} */

.skyoverlay-dairy {
  opacity: 0.41;
}
.skyoverlay-dairy2{
  width:100%;
  height:237px;
}

.dairyhome-hils {
  position: absolute;
  left: 0;
  top: 75px;
  height: 520px;
  width: 100%;
}

.dairyhome-ground {
  position: absolute;
 
  left: 0;
  top: 180px;

  width: 100%;
  height: 170px;
 
}
.talwar-box {
  position: absolute;
  
  /* width:680px; */
  width: 45%;
  height: 472px;

  /* top: -20px; */
  bottom: 47px;
  top: 573px;

  left: 49.5%;
  transform: translate(-50%);
  z-index: 1000;
  transition: top 2s ease-in-out;
}

.talwarack1 {
  position: absolute;
  bottom: 15px;
  left: 0;

  /* width: 394px; */
 
  width: 55%;
  height: 194px;
  background-image: url("../../components/images/talwarback1.png");
  background-size: 100% 100%;
  
  background-repeat: no-repeat;
  
}
.talwarack2 {
  position: absolute;
  bottom: 15px;
  right: 0;
  /* width: 394px; */
  width: 55%;
  height: 194px;
  background-image: url("../../components/images/talwarback2.png");
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
   
}
.talwarack3 {
  position: absolute;
  bottom: 0px;
  left: 17%;
 
  /* width: 266px; */
  width: 38%;
  height: 273px;
  background-image: url("../../components/images/talwarback3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
   
}
.talwarack4 {
  position: absolute;
  bottom: 0;
  left: 27%;
  width: 45.5%;
  height: 331px;
  background-image: url("../../components/images/talwarback4.png");
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
   
}
.talwarack5 {
  position: absolute;
  bottom: 15px;
  /* right: 140px; */
  /* width: 322px; */
   
   right: 24%;
   
  width: 45%;
  height: 331px;
  background-image: url("../../components/images/talwarback5.png");
  background-size: 100% 100%;
  /* background-size: cover; */
  background-repeat: no-repeat;
   
}

.talwarShadow {
  position: absolute;
  
  height: 200px;
  width: 55%;
  
  left: 50%;

  transform: translate(-50%);
  top: 46%;
  border-radius: 455px;

  background: #0094ff;

  mix-blend-mode: screen;
  filter: blur(32px);
}
.talwarshadowtop{
  position: absolute;
  top: 0;
  width: 39px;
   
  left: 50%;
  transform: translate(-50%);
height: 141px;
background-image: url("../../components/images/talwartopshadow.png");
background-size: 100% 100%;
 
background-repeat: no-repeat;
fill: #00E0FF;

mix-blend-mode: lighten;
filter: blur(36.5px);
}

.talwar {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%);
 
  /* width: 113px; */
  width: 15%;
  height: 460px;
  background-image: url("../../components/images/talwar.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: height 2s ease-in-out ;
}


.talwarfront1 {
  position: absolute;
  bottom: 18px;
  
    
   left:14%;
  
  /* width: 235px; */
 
  width: 30%;
  height: 241px;
  background-image: url("../../components/images/talwarfront1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  
} 



.talwarfront2 {
  position: absolute;
  
  bottom: 17px;
  /* right: 92px; */
  right: 18%;
  width: 30%;
  height: 241px;
  background-image: url("../../components/images/talwarfront2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.talwarfront3 {
  position: absolute;
  bottom: 18px;
   
  right: 27.5%;
   

  width: 35%;
  height: 241px;
  background-image: url("../../components/images/talwarfront3.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
}
.talwarfront4 {
  position: absolute;
  bottom: 18px;
   
   left: 25.5%;
   
 
  width: 35%;
  height: 241px;
  background-image: url("../../components/images/talwarfront4.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
   
}

.leaves1{
  position: absolute;
  bottom: 0px;
  left: 0;
  
 
  width: 74%;
  height: 360px;
  background-image: url("../../components/images/leaves1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  
  
}
.leaves2{
  position: absolute;
  bottom: 0px;
  right: 0;
 
  /* width: 1272px; */
  width: 74%;
  height: 360px;
  background-image: url("../../components/images/leaves2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  
}
.title-box-hide{
  display: none;
}


.headerdiv{
  position: relative;
 
 
  width: 80%;
  top: -20%;
  height: 117px;
  margin: auto;
  padding: 18px 0 25px 0;
  transition: top 2s ease-in-out;
  margin-top: 60px;
}

.headershow {
   
  top:0;
 }

.header{
 position: absolute;
  width: 100%;
  height: 100%;
}
.headerback1{
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  top: 15px;
  height: 60.54px;
  background-image: url("../../components/images/headerback1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;

}
.headerback2{
 
position: absolute;
  z-index: 10;
  width: 100%;
  height: 60.54px;
  background-image: url("../../components/images/headerback2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* box-sizing: border-box; */
}

.textbox{
  width: 100%;
  height: 100%;
 display: flex;
 
 justify-content: space-between;
 padding-left: 48px;
 padding-right: 48px;
}

.textbox >div{
  display: flex;
 
  align-items: center;
  gap: 30px;
}
.textbox >div>p{
  color: #FFF;
/* font-family: Daily Spark; */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.1px;
}

.headertitle{
  position: absolute;
  z-index: 12;
  top: 0;
   
  width: 242px;
  height: 117px;
  background-image: url("../../components/images/dairytitle.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.10);

}

.infobox{
  position: absolute;
  z-index: 50;
 
  width: 590px;
  bottom: 0;
  height: 300px;
  background-image: url("../../components/images/infoboxback.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  fill: linear-gradient(178deg, #04B3FF 1.61%, #009ADD 77.66%);
  left: 49%;
  transform: translate(-50%);
  box-shadow: 0px -1px 2px 0px rgba(255, 255, 255, 0.19) inset;
}
.dairyhome-groun2{
  position: absolute;
 
  width: 100%;
  height: 282px;
  top: 185px;
  left: 50%;
  transform: translate(-50%);
 transition: top 2s ease-in-out;
}


.dairyhome-groun2-1{
  top: 67px;
}

.display-none-ground{
  display: none;
}
.talwar-box-started{
  /* top: 580px; */

top:455px;
}

 .talwar2{
height: 360px;
 }
 .dairyhome-hils-getstarted{
  display: none;
 }
 .skyoverlay-dairy2-1{
height: 20px;
 }
 .skyoverlay-dairy{
  width:100%;
  height:250px;
  
 }
 .skyoverlay-dairy-1{

  height:210px;

 }